.blog-title{
    position: relative;
    display: inline-block;
    left: 50;
    margin-left: 20;
    margin-top: 10;
    margin-bottom: 10;
}

.blog-header{
    position: relative;
    display: inline-block;
    margin-left: 100;
}

.common-menu{
    position: absolute;
    display: inline-block;
    min-width: 700;
    top: 10;
    left: 5%;
    width: 90%;
}

.common-body {
    display: grid;
    min-width: 700px;
    grid-template-rows: 80px 1fr 50px;
}

.common-contents{
    display: block;
    grid-row: 2/3;
    margin-top: 30px;
    margin-bottom: 50px;
}

.common-log-in{
    position: absolute;
    display: inline-block;
    padding: 10px 30px 10px 30px;
    color: rgb(164, 164, 164);
    right: 0px;
    bottom: 0px;
}

.common-log-in:hover{
    text-decoration: none;
}

.common-footer{
    grid-row: 3/4;
}

.footer-nav{
    text-align: center;
}

.footer-link{
    display: inline-block;
    padding: 20px;
    padding-left: 30px;
    padding-right: 30px; 
}

.copyright-label{
    text-align: center;
}