.user-common-body {
    display: grid;
    grid-template-columns: 180px 1fr;
    width: 100%;
    height: 100%;
}

.navigation-aside {
    width: 100%;
    height: 100%;
    font-size: smaller;
    color: white;
    background-color: rgb(133, 135, 152);
    overflow: scroll;
}

.navigation-aside::-webkit-scrollbar {
    display: none;
}

.users_home_list_tab {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 20px;
    padding-bottom: 5px;
    background: transparent;
}

.users_home_list {
    list-style: none;
    background: transparent;
}

.users_home_list div {
    padding: 5px;
    padding-left: 25px;
    padding-right: 25px;
    background: transparent;
    color: rgb(242, 242, 254);
    cursor: default;
}

.users_home_list a:hover {
    text-decoration: none;
}

.users_home_list div:hover {
    background-color: rgb(108, 121, 142);
    color: rgb(164, 164, 255);
}

.user-common-grid-header {
    display: fixed;
    grid-column: 1 / 2;
    grid-row: 1;
    width: 100%;
    background-color: seagreen;
}

.user-common-grid-contents {
    grid-column: 2 / 3;
    grid-row: 1;
}

.user-common-message {
    display: inline-block;
    padding: 0px 7px 0px 7px;
    border-radius: 4px;
    margin-left: 4px;
    margin-right: 1px;
    background-color: rgb(218, 100, 87);
}